<footer class="footer">
  <div class="container page-footer">
    <div class="footer_block">
      <div class="footer-part">
        <div class="footer-logo">
          <a href="/index.html" class="logo">
            <img
              src="/img/header/company-logo.svg"
              width="196px"
              height="84px"
            />
          </a>
        </div>
        <div class="footer_networks">
          <ul class="networks_list">
            <li class="networks_item">
              <a href="https://www.facebook.com/" class="networks_link">
                <svg class="networks_icon">
                  <use href="../img/svg/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="networks_item">
              <a href="https://www.instagram.com/" class="networks_link">
                <svg class="networks_icon">
                  <use href="/img/svg/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="networks_item">
              <a href="https://x.com/" class="networks_link">
                <svg class="networks_icon">
                  <use href="/img/svg/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="">
        <nav>
          <ul class="footer-nav">
            <li class="footer-nav-item">
              <a href="/welcome.html">About us</a>
            </li>
            <li class="footer-nav-item">
              <a href="/quality.html">Benefits</a>
            </li>
            <li class="footer-nav-item">
              <a href="/experience.html">Gallery</a>
            </li>
            <li class="footer-nav-item">
              <a href="/testimonials.html">Testimonial</a>
            </li>
            <li class="footer-nav-item">
              <a href="/location.html">Location</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <p class="credits">© 2025 CoffeeJoy. All rights reserved.</p>
  </div>
</footer>
