<footer class="footer">
  <div class="container page-footer">
    <div class="footer_block">
      <div class="footer-part">
        <div class="footer-logo">
          <a href="/index.html" class="logo" aria-label="Go to homepage">
            <img
              src="/img/header/company-logo.svg"
              width="196"
              height="84"
              alt="Company logo"
            />
          </a>
        </div>
        <div class="footer_networks">
          <ul class="networks_list">
            <li class="networks_item">
              <a
                href="https://www.facebook.com/"
                target="_blank"
                class="networks_link"
                aria-label="Visit our Facebook page"
              >
                <svg class="networks_icon">
                  <use href="/img/svg/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="networks_item">
              <a
                href="https://www.instagram.com/"
                target="_blank"
                class="networks_link"
                aria-label="Visit our Instagram page"
              >
                <svg class="networks_icon">
                  <use href="/img/svg/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="networks_item">
              <a
                href="https://x.com/"
                target="_blank"
                class="networks_link"
                aria-label="Visit our X (Twitter) page"
              >
                <svg class="networks_icon">
                  <use href="/img/svg/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="">
        <nav class="">
          <ul class="footer-nav">
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#aboutus">About us</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#benefits">Benefits</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#gallery">Gallery</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#testimonial">Testimonial</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#location">Location</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <p class="credits">&copy; 2025 CoffeeJoy. All rights reserved.</p>
  </div>
</footer>
