<header class="header">
  <div class="container header-container">
    <a class="header-logo" href="/src/index.html">
      <img
        src="../img/header/company-logo.svg"
        alt="Company logo"
        width="84px"
        height="36px"
      />
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#aboutus">About us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#testimonial">Testimonial</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>
    <button class="burger-btn" type="button" data-mobile-open>
      <svg class="burger-btn-icon" width="24" height="24">
        <use href="../img/svg/symbol-defs.svg#icon-menu"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu" data-mobile>
    <div class="container mobile-menu-container">
      <div class="mobile-menu-header">
        <a class="header-logo" href="/src/index.html">
          <img
            src="../img/header/company-logo.svg"
            alt="Company logo"
            width="84px"
            height="36px"
          />
        </a>
        <button class="mobile-munu-btn" type="button" data-mobile-close>
          <svg class="mobile-menu-btn-icon" width="24" height="24">
            <use href="../img/svg/symbol-defs.svg#icon-x"></use>
          </svg>
        </button>
      </div>
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-nav-list">
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#aboutus">About us</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#benefits">Benefits</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#gallery">Gallery</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#testimonial">Testimonial</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#location">Location</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
