<div class="modal-overlay">
    <div class="modal">
        <button class="modal-close-icon" type="button">
            <svg class="icon-x" width="32" height="32">
                <use href="/img/svg/symbol-defs.svg#icon-x"></use>
            </svg>
        </button>
        <h2 class="modal-title">Welcome to the world of CoffeeJoy!</h2>
        <p class="modal-subtitle">
            Fresh brews, special offers, and cozy updates are coming your way.
        </p>
        <picture>
            <source media="(min-width: 1440px)" srcset="/img/modal/modal-desc-min.jpg 1x,
                /img/modal/modal-desc@2x-min.jpg 2x">
            <source media="(min-width: 768px)" srcset="/img/modal/modal-tab-min.jpg 1x,
                /img/modal/modal-tab@2x-min.jpg 2x">
            <source media="(max-width: 767px)" srcset="/img/modal/modal-mob-min.jpg 1x,
                /img/modal/modal-mob@2x-min.jpg 2x">
            <img class="modal-img" src="/img/modal/modal-desc-min.jpg" alt="cup of coffee envelope and croissant"
                width="644" height="374">
        </picture>
        <button class="modal-close-btn" type="button">Close</button>
    </div>
</div>



<a class="scroll-btn" href="#header">
    <svg class="icon-chevrons-up" width="36" height="36">
        <use href="/img/svg/symbol-defs.svg#icon-chevrons-right"></use>
    </svg>
</a>