<section id="benefits" class="quality">
  <div class="container">
    <p class="quality-tagline">Quality</p>
    <h2 class="quality-title">Why CoffeeJoy Stands Out from the Rest</h2>
    <p class="quality-text">
      At CoffeeJoy, we pride ourselves on delivering the freshest roasted
      coffee, crafted with care by our skilled baristas. Our flexible
      subscription plans ensure that your coffee experience is tailored to your
      needs.
    </p>

    <ul class="quality-list">
      <li class="quality-item">
        <img
          class="quality-img coffee"
          srcset="
            /img/quality-image/coffee-desktop.avif    1x,
            /img/quality-image/coffee-desktop@2x.avif 2x
          "
          src="/img/quality-image/coffee-desktop.avif"
          alt="Fresh roasted coffee beans in a cup"
        />
        <h3 class="quality-item-title">Fresh-Roasted Coffee for Every Taste</h3>
        <p class="quality-item-text">
          Savor the rich flavors of our expertly sourced beans.
        </p>
      </li>
      <li class="quality-item">
        <img
          class="quality-img barista"
          srcset="
            /img/quality-image/barista-desktop.avif    1x,
            /img/quality-image/barista-desktop@2x.avif 2x
          "
          src="/img/quality-image/barista-desktop.avif"
          alt="Barista brewing coffee"
        />
        <h3 class="quality-item-title">
          Expert Baristas Crafting Your Perfect Brew
        </h3>
        <p class="quality-item-text">
          Our baristas are passionate about coffee and skilled in their craft.
        </p>
      </li>
      <li class="quality-item">
        <img
          class="quality-img cozy"
          srcset="
            /img/quality-image/cozy-desktop.avif    1x,
            /img/quality-image/cozy-desktop@2x.avif 2x
          "
          src="/img/quality-image/cozy-desktop.avif"
          alt="Cozy cafe atmosphere"
        />
        <h3 class="quality-item-title">Cozy Atmosphere</h3>
        <p class="quality-item-text">
          We don’t just serve coffee — we create a warm and welcoming space
          where every cup feels like home.
        </p>
      </li>
    </ul>
  </div>
</section>
