<section class="testimonials">
    <div class="container">
    <h2 class="testimonials-title">What our visitors say</h2>
    <ul class="testimonials-list">
        <li class="testimonials-item">
            <div class="testimonials-item-block">
            <ul class="testimonials-list-star">
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon empty-star" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-outline"></use>
                    </svg>
                </li>
            </ul>
            <p class="testimonials-item-text-coment">"Every cup feels like a warm hug! I'm addicted to their seasonal flavors!"</p>
            </div>
            <p class="testimonials-item-text-author">Name Surname</p>
        </li>
        <li class="testimonials-item">
            <div class="testimonials-item-block">
            <ul class="testimonials-list-star">
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon empty-star" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
            </ul>
            <p class="testimonials-item-text-coment">"CoffeeJoy is my go-to place for a perfect cup of coffee! The ambiance is so inviting, and the baristas are always friendly."</p>
            </div>
            <p class="testimonials-item-text-author">Alice Johnson</p>
        </li>
        <li class="testimonials-item">
            <div class="testimonials-item-block">
            <ul class="testimonials-list-star">
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
            </ul>
            <p class="testimonials-item-text-coment">"I love the variety of blends offered at CoffeeJoy. Every visit feels like a new experience!"</p>
            </div>
            <p class="testimonials-item-text-author">Michael Smith</p>
        </li>
        <li class="testimonials-item">
            <div class="testimonials-item-block">
            <ul class="testimonials-list-star">
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon empty-star" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon empty-star" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
            </ul>
            <p class="testimonials-item-text-coment">"The pastries are to die for! I can't resist pairing them with my favorite latte. Highly recommend this spot!"</p>
            </div>
            <p class="testimonials-item-text-author">Emily Davis</p>
        </li>
        <li class="testimonials-item">
            <div class="testimonials-item-block">
            <ul class="testimonials-list-star">
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
            </ul>
            <p class="testimonials-item-text-coment">"A cozy little gem! CoffeeJoy has the best cold brew in town. I come here every weekend!"</p>
            </div>
            <p class="testimonials-item-text-author">James Brown</p>
        </li>
        <li class="testimonials-item">
            <div class="testimonials-item-block">
            <ul class="testimonials-list-star">
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon empty-star" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon empty-star" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
            </ul>
            <p class="testimonials-item-text-coment">"The atmosphere is perfect for working or relaxing with friends. Their Wi-Fi is fast too!"</p>
            </div>
            <p class="testimonials-item-text-author">Sarah Wilson</p>
        </li>
        <li class="testimonials-item">
            <div class="testimonials-item-block">
            <ul class="testimonials-list-star">
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon empty-star" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
            </ul>
            <p class="testimonials-item-text-coment">"I'm addicted to their seasonal flavors! Each one is crafted with such care and creativity."</p>
            </div>
            <p class="testimonials-item-text-author">Chris Lee</p>
        </li>
        <li class="testimonials-item">
            <div class="testimonials-item-block">
            <ul class="testimonials-list-star">
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
                <li class="testimonials-item-star">
                    <svg class="testimonials-icon empty-star" width="20" height="19">
                        <use href="/img/svg/symbol-defs.svg#icon-star-filled"></use>
                    </svg>
                </li>
            </ul>
            <p class="testimonials-item-text-coment">"I appreciate how they source their coffee beans sustainably. It's great to support such an ethical business!"</p>
            </div>
            <p class="testimonials-item-text-author">Patricia Taylor</p>
        </li>
    </ul>
    </div>
</section>