<section class="welcome">
    <div class="container welcome-wrapper">
        <div class="welcome-header">
            <h2 class="title">Welcome</h2>
            <p class="text">Our Journey: Passion for Quality Coffee</p>
        </div>

        <div class="welcome-content">
            <p class="sub-text">
              At Coffee Joy, we believe that every cup tells a story.
              Our mission is to bring you the finest coffee experiences,
              crafted with care and dedication.
              We are committed to sourcing high-quality beans and roasting them to perfection,
              ensuring each sip is a delight.
            </p>

            <button class="btn" type="button">Find Location
                <svg class="icon-map-pin" width="24" height="24">
                    <use href="../img/svg/symbol-defs.svg#icon-map-pin"></use>
                </svg>
            </button>
        </div>
    </div>
    
        <div class="welcome-image">
            <img src="../img/welcome/Coffe-make-desktop.png" alt="Coffee Cup" class="welcome-img">
        </div>
</section>