<section class="welcome">
    <div class="container welcome-wrapper">
        <div class="welcome-info">
            <div class="welcome-header">
                <p class="welcome-text">Welcome</p>
                <h2 class="welcome-title">Our Journey: Passion for Quality Coffee</h2>
            </div>

            <div class="welcome-header">
                <p class="welcome-sub-text">
                  At Coffee Joy, we believe that every cup tells a story.
                  Our mission is to bring you the finest coffee experiences,
                  crafted with care and dedication.
                  We are committed to sourcing high-quality beans and roasting them to perfection,
                  ensuring each sip is a delight.
                </p>
                <a class="welcome-btn" type="button" href="#location">Find Location
                    <svg class="icon-map-pin" width="24" height="24">
                        <use href="/img/svg/symbol-defs.svg#icon-map-pin"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="welcome-image">
            <picture class="welcome-img">
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      /img/welcome/coffe-desktop-1-min.jpg 1x,
                      /img/welcome/coffe-desktop-1@2x-min.jpg 2x
                    "
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        /img/welcome/coffe-tablet-1-min.jpg 1x,
                        /img/welcome/coffe-tablet-1@2x-min.jpg 2x
                      "
                    />
                    <source
                      media="(max-width: 767px)"
                      srcset="
                        /img/welcome/coffe-mobile-1.jpg 1x,
                        /img/welcome/coffe-mobile-1@2x.jpg 2x
                      "
                    />
                    <img
                      src="/img/welcome/coffe-desktop-1-min.jpg 1x"
                      srcset="/img/welcome/coffe-desktop-1@2x-min.jpg 2x"
                      alt="Coffe Maker"
                      width="1312"
                      height="738"
                      loading="lazy"
                    />
                </picture>
        </div>
    </div>
</section>