/* Base styles for the entire document */
:root {
  --color-scheme-1-background: var(--color-coffee-lighter);
  --color-neutral-darkest: #0b0803;
  --color-scheme-1-border: var(--opacity-neutral-darkest-15);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #dad9d9;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b5b4b3;
  --color-neutral: #858381;
  --color-neutral-dark: #54524e;
  --color-neutral-darker: #23201c;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-foreground: var(--color-coffee-light);
  --color-scheme-1-accent: var(--color-neutral-darkest);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(11, 8, 3, 0.05);
  --opacity-neutral-darkest-10: rgba(11, 8, 3, 0.1);
  --opacity-neutral-darkest-15: rgba(11, 8, 3, 0.15);
  --opacity-neutral-darkest-20: rgba(11, 8, 3, 0.2);
  --opacity-neutral-darkest-30: rgba(11, 8, 3, 0.3);
  --opacity-neutral-darkest-40: rgba(11, 8, 3, 0.4);
  --opacity-neutral-darkest-50: rgba(11, 8, 3, 0.5);
  --opacity-neutral-darkest-60: rgba(11, 8, 3, 0.6);
  --color-coffee-lightest: #eadfd6;
  --color-coffee-lighter: #e0cbb4;
  --color-coffee-light: #c29d84;
  --color-coffee: #b58869;
  --color-coffee-dark: #6f4e37;
  --color-coffee-darker: #60432f;
  --color-coffee-darkest: #443022;
  --color-scheme-2-text: var(--color-neutral-darkest);
  --color-scheme-2-background: var(--color-coffee);
  --color-scheme-2-border: var(--opacity-neutral-darkest-15);
  --color-scheme-2-accent: var(--color-neutral-darkest);
  --color-scheme-2-foreground: var(--color-coffee);
  --color-error-red: #7f1c1c;
  --font-family: 'Quicksand', sans-serif;
  --second-family: 'Aboreto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--color-coffee-lighter);
  font-family: var(--font-family);
  color: var(--color-neutral-darkest);
  font-size: 18px;
  line-height: 1.5;
}

/*
body {
  cursor: url("../img/coffe-bean.png"), auto;
}

a, button:hover {
  cursor: url("../img/coffe-cup.png"), auto;
}
//*/

section {
  padding: 64px 0;
}

h2 {
  font-family: var(--second-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

@media only screen and (min-width: 1440px) {
  h2 {
    font-size: 48px;
  }
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
