.footer {
  background-color: var(--color-coffee);
  min-width: 320px;
}
.page-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 601px;
}
.footer_block {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 40px;
  padding: 32px 48px;
  background-color: var(--color-coffee-light);
}
.footer-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.footer-logo {
  width: 196px;
  height: 84px;
}
.footer_networks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.networks_list {
  display: flex;
  align-items: center;
  gap: 12px;
}
.networks_link {
  transition: opacity 250ms ease-in-out;
}
.networks_link:hover,
.networks_link:focus {
  opacity: 0.5;
}
.networks_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
.networks_icon {
  display: block;
  width: 28px;
  height: 27px;
}
.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  width: 84px;
}
.footer-nav-item {
  height: 24px;
}
.footer-nav-link {
  font-size: 16px;
  transition: opacity 250ms ease-in-out;
}
.footer-nav-link:hover,
.footer-nav-link:focus {
  opacity: 0.5;
}
.credits {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  font-size: 14px;
  width: 288px;
  height: 21px;
  padding: 0 21.5px;
}
@media only screen and (min-width: 768px) {
  .page-footer {
    height: 257px;
  }
  .footer-part {
    flex-direction: row;
  }
  .footer-nav {
    flex-direction: row;
  }
  .footer_block {
    width: 100%;
  }
  .footer-logo {
    width: 84px;
    height: 36px;
  }
  .networks_item {
    width: 24px;
    height: 24px;
  }
  .networks_icon {
    width: 20px;
    height: 21px;
  }
  .footer-nav {
    width: 456px;
  }
  .credits {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (min-width: 1440px) {
  .page-footer {
    height: 201px;
  }
  .footer_block {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .networks_item {
    width: 24px;
    height: 24px;
  }
}
