
.subscribe-box {
    margin-bottom: 32px;
}

.subscribe-title {
    margin-bottom: 24px;
    max-width: 258px;
}

.subscribe-subtitle {
    font-size: 18px;
    margin-bottom: 32px;
    max-width: 288px;
}

.subscribe-fild-box {
    margin-bottom: 16px;
    position: relative;
    align-items: center;
}

.subscribe-input {
    border: 1px solid var(--opacity-neutral-darkest-15);
    border-radius: 12px;
    width: 100%;
    font-size: 16px;
    max-width: 375px;
    height: 40px;
    padding: 8px 12px;
    background-color: transparent;
    outline: transparent;
}

.subscribe-input:focus::placeholder {
    color: transparent;
}

.subscribe-input:invalid:focus:not(:placeholder-shown) {
    border: 1px solid var(--color-error-red);
    color: var(--color-error-red);
}

.subscribe-input:invalid:focus:not(:placeholder-shown) + .subscribe-eror {
    opacity: 1;
}

.subscribe-eror {
    position: absolute;
    top: 40px;
    left: 0;
    font-size: 12px;
    color: var(--color-error-red);
    opacity: 0;
}


/* Початково приховуємо повідомлення */
.error-message {
    display: none;
    color: var(--color-error-red);
    font-size: 12px;
    margin-top: 0;
}

/* Коли поле невалідне і користувач щось ввів */
.subscribe-input:focus:not(:placeholder-shown):invalid {
    border-color: var(--color-error-red);
}

/* Показуємо повідомлення, якщо поле у фокусі, НЕ порожнє і НЕвалідне */
.subscribe-input:focus:not(:placeholder-shown):invalid+.error-message {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

/* Анімація появи */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}





.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-white);
    fill: var(--color-white);
    border-radius: 100px;
    padding: 10px 24px;
    width: 100%;
    max-width: 375px;
    height: 44px;
    box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px var(--opacity-neutral-darkest-15), inset 0 2px 1px 0 var(--opacity-white-20), inset 0 32px 24px 0 var(--opacity-white-5);
    background-color: var(--color-coffee-dark);
    border: transparent;
    margin-top: 24px;
    transition: opacity 250ms ease-in-out;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    opacity: 0.5;
}

.subscribe-btn:active {
    background-color: var(--color-coffee-dark);
}

.subscribe-text {
    font-size: 12px;
}

.subscribe-img {
    overflow: hidden;
    border-radius: 40px;
}


@media screen and (min-width:768px) {

    .subscribe-title {
        max-width: 100%;
    }

    .subscribe-subtitle {
        max-width: 100%;
    }

    .subscribe-fild-box {
        display: flex;
        column-gap: 24px;
    }

    .subscribe-input {
        width: 340px;
    }

    .subscribe-btn {
        max-width: 158px;
        margin-top: 0;
    }
}


@media screen and (min-width:1440px) {

    .subscribe-container {
        display: flex;
        gap: 32px;
    }

    .subscribe-box {
        margin: auto 0;
    }

    .subscribe-title {
        width: 616px;
    }

    .subscribe-subtitle {
        width: 640px;
    }
}
