.testimonials-title {
  margin-bottom: 24px;
  text-align: left;
  width: 100%;
}

.testimonials-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.testimonials-item {
  background-color: var(--color-coffee-light);
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 32px;
  padding: 32px;
}

.testimonials-item-block {
  margin-bottom: 24px;
}

.testimonials-list-star {
  display: flex;
  gap: 4px;
  margin-bottom: 24px;
}

.testimonials-icon {
  display: block;
}

.testimonials-icon.empty-star {
  fill: transparent;
  stroke-width: 1px;
  stroke: var(--color-neutral-darkest);
}

.testimonials-item-text-coment {
  width: 100%;
  min-width: 224px;
}

.testimonials-item-text-author {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
}

@media only screen and (min-width: 768px) {
  .testimonials-title {
    max-width: 498px;
  }

  .testimonials-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .testimonials-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc((100% - 24px) / 2);
    min-height: 254px;
  }

  .testimonials-item-block {
    margin-bottom: auto;
  }

  .testimonials-item-text-coment {
    width: 276px;
  }
}

@media only screen and (min-width: 1440px) {
  .testimonials-title {
    max-width: 416px;
    font-size: 48px;
  }

  .testimonials-item {
    min-height: 304px;
    width: calc((100% - 72px) / 4);
    transition: transform 250ms ease-in-out, background-color 250ms ease-in-out;
  }

  .testimonials-item:hover {
    transform: scale(1.05);
    background-color: var(--color-coffee);
  }

  .testimonials-item-text-coment {
    width: 246px;
  }
}
