.welcome-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.welcome-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.50;
    color: var(--color-neutral-darkest);
    margin-bottom: 16px;
}

.welcome-title {
    margin-bottom: 32px;
}

.welcome-sub-text {
    margin-bottom: 32px;
}

.welcome-image {
    margin-top: 32px;    
}

.welcome-img {
    border-radius: 40px;
    overflow: hidden;
}


.welcome-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: var(--color-coffee-dark);
    color: var(--color-coffee-lightest);
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 100px;
    padding: 10px 24px;
    width: 288px;
    height: 44px;
    box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px var(--opacity-neutral-darkest-15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 var(--opacity-white-5);
    background-color: var(--color-coffee-dark);
}

.welcome-btn:hover,
.welcome-btn:focus {
    opacity: 0.5;
}

.icon-map-pin {
    fill: var(--color-white);
}

@media (min-width: 768px) {
    .welcome-info {
        flex-direction: row;
        gap: 32px;
        align-items: flex-start;
    }

    .welcome-text {
        margin-bottom: 16px;
    }

    .welcome-title {
        margin: 0;
    }

    .welcome-header {
        width: 336px;
    }

    .welcome-img {
        margin-top: 32px;
        border-radius: 40px
    }

    .welcome-btn {
        width: auto;
    }
}

@media (min-width: 1440px) {
    .welcome-info {
        flex-direction: row;
        gap: 32px;
        align-items: flex-start;
    }

    .welcome-text {
        margin-bottom: 16px;
    }

    .welcome-title {
        margin: 0;
    }

    .welcome-header {
        width: 640px;
    }

    .welcome-img {
        margin-top: 32px;
        border-radius: 40px
    }

    .welcome-btn {
        width: auto;
    }
}

